<a href="https://colab.research.google.com/github/M-Abul-Hassan/Python-Basics/blob/main/AI_Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Artificial Intelligence Lab**
# **Lab 01**
# **BY Muhammad Abul Hassan**
# **Practice all the examples mentioned in lab 01**

# **Basics of Python**

Example 01: Create variable of all types, print values and types of all variables.

In [ ]:
i = 20
print ("The data type of i is " , type (i))

The data type of i is  <class 'int'>

In [ ]:
x = 'xyz'
print ("The data type of x is " , type (x))

The data type of x is  <class 'str'>

In [ ]:
z = 2+3j
print ("The data type of z is " , type (z))

The data type of z is  <class 'complex'>

In [ ]:
j = 0.9
print ("The data type of j is " , type (j))

The data type of j is  <class 'float'>

In [ ]:
check = True
print ("The data type of check is " , type (check))

The data type of check is  <class 'bool'>

**Example 02: Take input from user(two numbers) and perfrom all arithmetic and logical operations on it and print results.**

In [ ]:
num = input("Enter 1st Number = ")
num

Enter 1st Number = 200

'200'

"input" function always takes input in string data type, So we have to convert it into integer data type to perform arithmetic operations

In [ ]:
num1 = int(num1)
num1

200

In [ ]:
num3 = int(input("Enter 2nd Number = "))
num3

Enter 2nd Number = 5000

5000

Addition

In [ ]:
add = num1 + num3
add

5200

Subtraction

In [ ]:
sub = num3 - num1
sub

4800

Multiplication

In [ ]:
Mul = num3 * num1
Mul

1000000

Division

In [ ]:
Div = num1 / num3
Div

0.04

Mod

In [ ]:
Mod = num1%num3
Mod

200

Exponent

In [ ]:
num1 = 5
num2 = 6
exp = num1**num2
exp

15625

In [ ]:
x1 = input('Enter 1st number = ')
y1 = input('Enter 2nd number = ')
x=int(x1)
y=int(y1)
add=x+y
sub=x-y
mul=x*y
div=x/y
mod=x%y
exp=x**y
a=x and y
b=x or y
c=not x
#print
print("The addition of numbers is ",add)
print("The subtraction of numbers is ", sub)
print("The multiplication of numbers is ",mul)
print("The division of numbers is ",div)
print("The modulus of numbers is ", mod)
print("The exponent of numbers is ",exp)
print("The AND of numbers is ",a)
print("The OR of numbers is ",b)
print("The NOT of numbers is ",c)

Enter 1st number = 4
Enter 2nd number = 3
The addition of numbers is  7
The subtraction of numbers is  1
The multiplication of numbers is  12
The division of numbers is  1.3333333333333333
The modulus of numbers is  1
The exponent of numbers is  64
The AND of numbers is  3
The OR of numbers is  4
The NOT of numbers is  False

 **Example 03: Take a string (a long Statement) from user**


*   Find the length of the string
*   Display the first and last character of the string
*   Capitalize all alphabets
*   Split string in to words (split using ‘ ’)
*   count the occurrence of an Alphabet (i.e : a)
*   replace the second word of a string with ‘Artificial’
*   reverse the complete string

In [ ]:
longStr=input("Enter a long string : ")

Enter a long string : Hi! My name is Muhammad Abul Hassan,I'm final year computer Engineering student

In [ ]:
longStr

"Hi! My name is Muhammad Abul Hassan,I'm final year computer Engineering student"

In [ ]:
print(f"The length of given string is {len(longStr)} includig spaces.")

The length of given string is 79 includig spaces.

In [ ]:
print("The first character of the given string is ", longStr[0])

The first character of the given string is  H

In [ ]:
print(f"The last character of the given string is {longStr[-1]}")

The last character of the given string is t

In [ ]:
print(f"The given string in upper case : \n {longStr.upper()}")

The given string in upper case :
 HI! MY NAME IS MUHAMMAD ABUL HASSAN,I'M FINAL YEAR COMPUTER ENGINEERING STUDENT

In [ ]:
print(f"The splited string : \n {longStr.split(' ')}")

The splited string :
 ['Hi!', 'My', 'name', 'is', 'Muhammad', 'Abul', "Hassan,I'm", 'final', 'year', 'computer', 'Engineering', 'student']

In [ ]:
print(f"In the given string 'a' has occured : {longStr.count('a')} ")

In the given string 'a' has occured : 7

In [ ]:
print(f"The reversed string is : {longStr[::-1]}")

The reversed string is : tneduts gnireenignE retupmoc raey lanif m'I,nassaH lubA dammahuM si eman yM !iH

***Example 04:***


*   Take three integer input from user in a single line and find the average

In [ ]:
x, y, z=input('Enter three numbers with spaces to distinguish them = ').split(' ')
x1 = int(x)
x2 = int(y)
x3 = int(z)

avg=(x1+x2+x3)/3
print("The average of the numbers entered is = ", avg)

Enter three numbers with spaces to distinguish them = 2 3 5
The average of the numbers entered is =  3.3333333333333335

 **Example 05:**


*   Create a list of 10 values
*   Display the elements of a list
*   Update the value of 3rd index
*   Reverse the list
*   count the occurrence of an Alphabet (i.e : a)
*   Add 2 more elements in 2nd index and print list
*   Pop element of 1 index and display list

In [ ]:
list=[1,2, 'A', 'Ali',3,4, 'U', 'Askari', 'Abbas', 'Haider']
list

[1, 2, 'A', 'Ali', 3, 4, 'U', 'Askari', 'Abbas', 'Haider']

In [ ]:
list[2]='B'

print("The updated list with element of 3rd index = ",list)

The updated list with element of 3rd index =  [1, 2, 'B', 'Ali', 3, 4, 'U', 'Askari', 'Abbas', 'Haider']

In [ ]:
print("The reversed list is :",list[::-1])

The reversed list is : ['Haider', 'Abbas', 'Askari', 'U', 4, 3, 'Ali', 'B', 2, 1]

In [ ]:
list.insert(1,45)

list.insert(1,66)

print("The list after inserting elements of 2nd index is :",list)

The list after inserting elements of 2nd index is : [1, 66, 45, 66, 45, 2, 'B', 'Ali', 3, 4, 'U', 'Askari', 'Abbas', 'Haider']

In [ ]:
list.pop(0)

print("The list after popping element of 1st index is :", list)

The list after popping element of 1st index is : [66, 45, 66, 45, 2, 'B', 'Ali', 3, 4, 'U', 'Askari', 'Abbas', 'Haider']

**Ended**