# First program of ML

In [7]:
# import libraries
import pandas as pd
import numpy as np

df=pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [14]:
fruits = ["apple" , "Mango", "Orange"]
print(fruits)

['apple', 'Mango', 'Orange']

In [10]:
fruits = (1 ,2,3,4,4,3,4,2,4,2,3,3)
print(fruits)

(1, 2, 3, 4, 4, 3, 4, 2, 4, 2, 3, 3)

In [16]:
fruits = {"apple" , "Mango", "Orange", "apple" , "Mango", "Orange","apple" , "Mango", "Orange"}
print(fruits)
fruits.add('Banana')

{'Mango', 'Orange', 'apple'}