In [5]:
a=10
b=30
c=a+b
print(c)

40

In [4]:
# import libraries
import pandas as pd
import numpy as np

df=pd.read_csv('data.csv')
df.head()

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731
3  32.0     80.00              2.0   43525
4  32.2     80.50              2.2   39891

In [5]:
import matplotlib as plt
x= age , distance
y= yearsExperience ,Salary

plt.x,y

NameError: name 'age' is not defined